<section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>Not Authorized</h1>
    <h2>Your account doesn't have permission to do that!</h2>
    <a class="btn" asp-controller="Home" asp-action="Index">Back to home</a>
</section>
