@inject UserManager<AppUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string?)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    AppUser user = await UserManager.GetUserAsync(User);

    bool IsDemoUser = (user.Email == "jdwohl@gmail.com" || user.Email == "darrenjohnson@jdwinc.com" || user.Email == "hermancampos@jdwinc.com");
}

<div class="pagetitle">
    <h1>Account Settings</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active">Settings</li>
        </ol>
    </nav>
</div>

<div class="row">
        @if (IsDemoUser)
        {
            <div class="col-md-6">
                <div class="alert alert-danger">Demo users are not allowed to change their e-mail or password settings.</div>
            </div>
        }
        else
        {
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        }

    </div>
    
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
