<div class="pagetitle">
    <h1>Success!</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Company</a></li>
            <li class="breadcrumb-item active">Joined</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Congratulations! You're now a member of @ViewData["CompanyName"].</h5>
                    <p>While you're waiting for the company administrator to assign you a role and job title, here are some links:</p>

                    <button type="button" class="btn btn-secondary">
                        Company Projects
                    </button>
                    <a class="btn btn-secondary" asp-controller="Projects" asp-action="ListActiveProjects">
                        Project Tickets
                    </a>
                    <a class="btn btn-secondary" asp-controller="Notifications" asp-action="MyNotifications">
                        Notifications
                    </a>

                </div>
            </div>

        </div>

    </div>
</section>
