@page
@model AccessDeniedModel

<div class="pagetitle">
    <h1>Access Denied</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active">Access Denied</li>
        </ol>
    </nav>
</div>

<p>Your account does not have permission to access this resource.</p>
