@page
@model ForgotPasswordConfirmation

<div class="pagetitle">
    <h1>Reset Password</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active">Reset Password</li>
        </ol>
    </nav>
</div>

<p>
    Please check your email to reset your password.
</p>
