@page
@model LoginModel

@{
    Layout = "_LoginLayout.cshtml";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center mt-5 py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center w-auto">
                        <img src="~/img/buglogo.png" alt="">
                        <span class="d-block">BugBanisher</span>
                    </a>
                </div>

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Enter your username & password to login</p>
                        </div>

                        <form id="account" method="post" class="row g-3">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="col-12">
                                <label asp-for="Input.Email" class="form-label">Username</label>
                                <input asp-for="Input.Email" autocomplete="username" aria-required="true" class="form-control" required>
                            </div>

                            <div class="col-12">
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <input asp-for="Input.Password" type="password" class="form-control" required>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input asp-for="Input.RememberMe" class="form-check-input">
                                    <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button id="login-submit" class="btn btn-primary w-100" type="submit">Login</button>
                            </div>
                        </form>

                        <div class="mt-3 text-center">
                            <p class="small mb-0">Don't have account? <a asp-area="Identity" asp-page="Register">Register</a>. Or log in as a demo user:</p>

                            <form asp-page-handler="DemoAccount" asp-route-type="admin" method="post" class="mt-2 mb-2">
                                <button class="btn btn btn-primary" type="submit"><i class="bi bi-key me-1"></i>Demo Admin</button>
                            </form>
                            
                            <form asp-page-handler="DemoAccount" asp-route-type="pm" method="post" class="mb-2">
                                <button class="btn btn btn-primary" type="submit">Demo Project Manager</button>
                            </form>
                            
                            <form asp-page-handler="DemoAccount" asp-route-type="dev" method="post" class="mb-2">
                                <button class="btn btn btn-primary" type="submit">Demo Developer</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
