@page
@model ResetPasswordConfirmationModel

<div class="pagetitle">
    <h1>Password Reset</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active">Password Reset</li>
        </ol>
    </nav>
</div>

<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
